<!-- Clients -->
<section class="py-5" id="{{ site.data.sitetext.clients.section | default: "clients" }}">
  <div class="container">
    <div class="row" {% if site.data.sitetext.clients.horizontal-scrolling == "yes" %} id="scrolling-clients" {% endif %}>
      <div class="col-md-12 col-sm-12 text-center">
        <h3>E-Certificates will be provided</h3>
        <h3 class = "text-danger">Limited Seats Left!!</h3>

        <br>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.data.sitetext.header.buttonlink }}">{{ site.data.sitetext.header.button }}</a>
      </div>
    </div>
  </div>
</section>
